<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhumeijia.wuye.mapper.BuildingMapper">
    <select id="queryBuildingName" resultType="com.zhumeijia.wuye.entity.Building">
           select buildingName,buildingID from building
    </select>

</mapper>

