<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhumeijia.wuye.mapper.RoomTypeMapper">
    <select id="findRoom" resultType="com.zhumeijia.wuye.entity.RoomType">
           select r.roomID,r.roomNO from room r
</select>


</mapper>